.about{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

.about_inner{
    display: flex;
    flex-direction: column;
    width: 80%;
    /* width: 100vw !important; */
    margin: 0px auto;
    /* background-color: #e4e4ff; */
    padding: 10px 20px;
 
}
.about_title{
    font-size: 160px;
    -webkit-text-stroke: 4px var(--primary);
    color: transparent;
    /* background-color: #e4e4ff; */
    line-height: 1;
}

.about_body{
    font-size: 55px;
    font-weight: 900;
    color: var(--primary);
    margin-top: 20px;
}

.about_slogan{
    display: block;
    text-align: right;
    font-size: 25px;
    /* width: 100%; */
    text-align: right;
    margin-top: 20px;
    float: right;
    /* border: 1px solid red; */
    padding-left: 300px !important;
    color: var(--primary);
    font-weight: 500;
}

.about_ceo_wrapper{
    background-color:var(--primary) ;
    margin-top: 30px;
}

.about_ceo{
    padding: 100px 0;
    width: 70%;
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 0 auto;
    
}

.about_ceo img{
    width: 400px;
}

.about_ceo_bio h1{
    color: rgb(202, 202, 202);
}

.about_ceo_bio h3{
    color: gold;
    font-size: 25px;
}

.about_ceo_bio p{
    color: white;
    font-size: 25px;
    /* margin-top: 25px; */
    text-align: left;
    padding: 50px;
}

.security{
    padding: 200px;
    text-align: center;
}

.security h1{
    font-size: 72px;
    font-weight: 800;
    color: blue;
}

.security svg{
    font-size: 100px;
    margin: 50px;
    color: gold;
}

.security h4{
    font-size: 45px;
    /* font-weight: 400; */
    color: #aaa;
}

.story{
    width: 80%;
    background-color: blue;
    color: white;
    padding: 80px;
    margin: 50px auto 0;
}

.story span{
    margin-bottom: 250px !important;
}

.story h2{
    /* margin-top: 50px; */
    line-height: 2;
    font-size: 2.3em;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
}

.story svg{
    font-size: 1em !important;
    margin: 0 !important;
}

@media screen and (max-width: 940px){
    .about_inner{
        
        width: 90%;    
        margin: 0px auto;   
        padding: 10px;
     
    }

    .about_body{
        font-size: 2rem;
        font-weight: 900;     
        margin-top: 20px;
    }
    .about_slogan{
        display: block;
        text-align: right;
        font-size: 25px;
        /* width: 100%; */
        text-align: right;
        margin-top: 20px;
        float: right;
        /* border: 1px solid red; */
        padding-left: 10px !important;
        color: var(--primary);
        font-weight: 500;
    }

    .about_ceo{
        padding: 20px 0;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        text-align: center;
        margin: 0 auto;
        
    }

    .security{
        padding: 20px;
        text-align: center;
    }

  
    
    .security h1{
        font-size: 2.5rem;
        font-weight: 800;
        color: blue;
    }
    
    .security svg{
        font-size: 70px;
        margin: 20px;
        
    }
    
    .security h4{
        font-size: 15px;
        /* font-weight: 400; */
        color: #aaa;
    }

    .story{
        width: 90%;
        background-color: blue;
        color: white;
        padding: 8px;
        margin: 10px auto;
    }
    
    .story span{
        margin-bottom: 20px !important;
    }

    .story h2{
        /* margin-top: 50px; */
        line-height: 1.5;
        font-size: 1.5em;
        font-weight: 400;
        font-family: 'Times New Roman', Times, serif;
        padding: 10px;
        text-align: justify;
    }
    

    .about_title{
        font-size: 4rem;
        -webkit-text-stroke: 4px var(--primary);
        color: transparent;
        /* background-color: #e4e4ff; */
        line-height: 1;
    }

    .about_ceo img{
        width: 300px;
    }

    .security h4{
        font-size: 2rem;
        /* font-weight: 400; */
        color: #aaa;
    }

    .about_ceo_bio p{
        color: white;
        font-size: 25px;
        margin-top: 25px;
        text-align: left;
        padding: 10px;
        text-align: justify;
    }
}