
.new_mada_wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 50;
}
.mada_details{
    display: flex;
    flex-direction: column;
}
.author_wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}



.author_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author_photo{
    width: 35px;height: 35px;
    aspect-ratio: 1;
}

.author_photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.mada_title{
    display: block;
    text-align: left;
    margin: 7px 0;
    font-size: 1.3rem !important;
}
.mada_card{
    display: flex;
    flex-direction: column;
    padding: 1.2vh;
   
}



.mada_time{
    font-size: 1rem;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.madas{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.mada_top{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.mada_top_left{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.mada_auth_photo{
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;

}

.mada_auth_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.madas_body{
    display: flex;
}

.mada_left{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.madas_photo{
    width: 170px;
    height: 170px;    
}

.madas_photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.mada_right{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 50vh;
    position: sticky;
    top: 100px;
}



.mada_left_card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}

.mada_left_card h2{
    display: block;
    text-align: left;
    /* font-weight: 00; */
}

.mada_left_card h2:hover{
    text-decoration: underline;
    cursor: pointer;
}

.mada_action{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    width: 100%;
}

.top_madas_wrapper{
    display: flex;
    flex-direction: column;
}

.btn_mada{
    margin-bottom: 10px;
    border: none;
}

.create_mada{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: calc(100vh - 20px);
    background-color: white;
    padding: 15px;
    gap: 10px;
    overflow-y: scroll;
}

.btn_create{
    border: none;
    background-color: var(--primary);
    font-size: 1rem;
    padding: 15px;
    width: 100%;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.author_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.mada_author{
    display: flex;
    align-items: center;
    gap: 5px;
}

.view_mada{
    display: flex;
    gap: 10px;
    padding: 15px 0;
}

.mada_top_auth{
    border-left: 4px solid black;
    padding-left: 15px;
}

.author_name{
    /* border-top: 4px solid #aaa; */
    width: fit-content;
    margin-top: 3px;
    padding-top: 3px;
    color: var(--primary);
}

.mada_heading{
    font-size: 4rem;
    padding: 25px 0;
    line-height: 1;
}

.mada_author_wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mada_main_body{
    margin: 10px 0;
    font-size: 1.2rem;
    line-height: 1.5;
}


@media screen and (max-width: 440px){
    .madas_body{
        display: flex;
        flex-direction: column-reverse;
    }

    .mada_right{
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 15px 0;
        height: fit-content;
        position:static;
        /* top: 100px; */
    }
}