.home_menu{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    width: 100%;
    /* padding: 0 10px; */
}

.home_menu a{
    text-decoration: none;
}

.home_no{
    display: none;
}

.menu_item{
    display: flex;
    /* width: 100%; */
    justify-content: flex-start;
    gap: 15px;
    padding: 1vh;
    border-radius: 0 25px 25px 0;
    align-items: center;
    font-size: 0.9rem;
    color: white;
}

.menu_item svg{
    font-size: 1.5rem;
}

.menu_item:hover{
    background-color: var(--primary);
    color: white;
}

.active{
    background-color: white;
    color: black !important;
    font-weight: 700;
    padding-left: 20px;
    border-left: 4px solid var(--primary);
    box-shadow: var(--shadow);
    
}

.active:hover{
    background-color: white;
    color: black;
    font-weight: 700;
    padding-left: 20px;
    cursor: default;
}

@media screen and (max-width: 740px){

    .menu_item{     
       
        gap: 25px;       
        font-size: 1.3rem;
        color: white;
    }
    
    .menu_item svg{
        font-size: 2rem;
    }
  

    /* .menu_item svg{
        font-size: 1.2rem;
    } */
}