.contact_wrapper{
    position: relative;
    width: 100%;
}

.message_alert1{
    position: absolute;
    right: 20px;
    top: 2px;
    padding: 6px 20px;
    background-color: var(--primary); 
    border-left: 4px solid var(--primary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    animation: message 0.5s;
    opacity: 1;
    max-width: 450px;
    z-index: 10;

}

.contacts_wrapper{
    background-color: var(--bg);
    padding-bottom: 50px;
}

.contact_middle{
    background-color: rgb(0, 0, 83); 
    color: white;
    padding: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    /* border-bottom: 1px solid #e1e2e3; */
}

.contact_middle h1{
    font-size: 65px;
    margin: 10px 0;
    font-weight: 900;
}

.social_icons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
}

.social_icons span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.social_icons svg{
    color: blue;
}

.contact_top{
    background-color: rgb(0, 0, 83); 
    padding: 20px 0 20px 50px;
}

.contact_top .form{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.contact_top .form .form_group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app_input, .app_textarea{
    background: white;
    border: none;
    outline: none;
    width: 100%;
    margin: 3px 0;
    padding: 10px;
    font-size: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;


}

.app_textarea{
    height: 100px;
}

.btn_submit{
    padding: 12px 15px;
    background: blue;
    color: white;
    border-radius: 3px;
    border: none;
    /* font-size: 14px; */
    cursor: pointer;
    /* margin-top: 10px; */
}

.btn_submit:hover{
    transform: scale(1.05);
}

.contact_bottom{
    padding: 50px;
    position: absolute;
    width: 30%;
    top: -10%;
    right:50px;
    background: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.contact_bottom .top{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.top h3{
    color: blue;
}

/* .social_icons{
    float: left;
    margin: 30px 0;
} */

.contact_middle h4{
    font-size: 23px;
    font-weight: 400;
}



@media screen and (max-width:920px){
    .contact_middle{      
        padding: 50px;     
    }

    .contact_bottom{
        padding: 20px;
    }

    .contact_middle h1{
        font-size: 40px;
    }
}


@media screen and (max-width: 420px) {

    .contact_wrapper{
        display: flex;
        flex-direction: column;
        position: static;
    }

    .contact_top{
        background: #c1c2c3;
        padding: 0px;
        width: 100%;
    }
    
    .contact_top .form{
        width: 90%;
        margin: 0 auto;
        padding-top: 15px;

    }

    .social_icons span{
        width: 25px;
        height: 25px;
        
    
    }

    .social_icons svg{
        font-size: 14px;
    }

    .contact_bottom span{
        color: #262626;
        font-size: 13px;
    }

    .contact_middle{
        /* background: darkgoldenrod; */
        color: white;
        padding: 50px;
        text-align: center;
    }
    
    .contact_middle h1{
        font-size: 35px;
        margin: 20px 0;
        font-weight: 500;
    }

    .social_icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact_bottom{
        padding: 20px;
        position: static;
        width: 80%;
        margin: 10px auto;
        top: 30%;
        right:50px;
        background: var(--sec);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .message_alert1{
        
        right: 2px;
        top: 20px;
        
    
    }

    
}