.members_wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.wema_grids{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
}

.wema_card{
    display: flex;
    gap: 5px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

.member_time{
    color: var(--primary);
    font-size: 0.8rem;
}

.profile_name:hover{
    text-decoration: underline;
    cursor: pointer;
}

.wema_info{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.btn_follow{
    padding: 7px 15px;
    background-color: var(--primary);
    border-radius: 25px;
    color: white;
    font-size: 0.9rem;
    border: none;
    width: fit-content;
    cursor: pointer;
}

.btn_isFollow{
    padding: 7px 15px;
    background-color: #ccc;
    border-radius: 25px;
    color: #aaa;
    font-size: 0.9rem;
    border: none;
    width: fit-content;
    cursor: pointer;
}



.btn_follow:hover{
    background-color: darkblue;
}

.input_edit_form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

._info_div{
    display: block;
    width: 1000%;
}

.name_wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: right;
    justify-content: space-between;
    /* border: 1px solid green; */
    /* width: 100%; */
}

.member_info_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;
    /* border: 1px solid red; */
}

.edit_member{
    display: flex;
    flex-direction: column;
}

.member_edit{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    gap: 5px;
}


.find_user{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 50;
}

.find_user_wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 95%;
    margin: 0 auto;
}

.find_user_input{
    border-bottom: 2px solid #aaa;
    padding: 5px;
    margin-top: 10px;
}
.input_find{
    background-color: transparent;
    border: none;
    outline: none;    
    font-size: 1.1rem;
    width: 100%;
    /* margin-left: 5px; */
}

.member_activities{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.member_activities_grids{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
}

.activity_card{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 3px;
}

.activity_card h3{
    width: 40px;
    height: 40px;border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--primary);
}

.member_follows{
    display: flex;
    justify-content: space-between;
}

.member_followings{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 20px;
}

.followings_grids{
    display: grid;
    grid-template-columns: repeat(auto-fit, 45px);
    gap: 10px;
}

.follow_img{
    width: 45px;
    height: 45px;
    aspect-ratio: 1;
}

.follow_img img{
    width: 100%;
    height: 100%;object-fit: cover;
    border-radius: 50%;
}

.find_title{
    color: var(--sec);
}

.finduser_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 0;
}

.found_user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--sec);
    padding: 7px;
}

.btn_ok{
    border: none;
    background-color: var(--primary);
    font-size: 1.1rem;
    color: white;
    padding: 5px 9px;
    border-radius: 3px;
}

.found_btns{
    display: flex;
    align-items: center;
    gap: 7px;
}


._btns{
    display: flex;
    align-items: center;
    gap: 3px;
}

.u_edit_photo{
    display: flex;
    align-items: center;
    /* width: 200px; */
    /* border: 1px solid red; */
    position: absolute;
    top: 270px;
    gap: 5px;
    left: 50px;
    background-color: var(--sec);
    padding: 9px;
}

.doc_mjaheed{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
}

.doc_mjaheed span{
    background-color: var(--primary);
    padding: 7px 11px;
    color: white;
    margin-left: 5px;
    border-radius: 5px;
}

.btn_edit{
    background-color: var(--primary);
    border: none;
    padding: 9px 13px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn_edit:hover{
    background-color: blue;
}


.member_adctions{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.member_status{
    display: flex;
    align-items: center;
    gap: 10px;
}

.status_ind{
    width: 15px;height: 15px; 
    border-radius: 50%;
}

.follow_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

@media screen and (max-width: 740px){
    .wema_grids{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 0px;
        margin-bottom: 10px;
        /* border: 1px solid red; */
    }

    .member_follows{
        flex-direction: column;
    }

    .member_followings{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 90%;
        padding: 10px;
        margin: 0 auto;
    }
    
}