.members_wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.wema_grids{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
}

.wema_card{
    display: flex;
    gap: 5px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

.wema_info{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.btn_follow{
    padding: 7px 15px;
    background-color: var(--primary);
    border-radius: 25px;
    color: white;
    font-size: 0.9rem;
    border: none;
    width: fit-content;
    cursor: pointer;
}

.btn_isFollow{
    padding: 7px 15px;
    background-color: #ccc;
    border-radius: 25px;
    color: #aaa;
    font-size: 0.9rem;
    border: none;
    width: fit-content;
    cursor: pointer;
}



.btn_follow:hover{
    background-color: darkblue;
}

.member_info_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.u_edit_photo{
    display: flex;
    align-items: center;
    /* width: 200px; */
    /* border: 1px solid red; */
    position: absolute;
    top: 270px;
    gap: 5px;
    left: 50px;
    background-color: var(--sec);
    padding: 9px;
}

.doc_mjaheed{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
}

.doc_mjaheed span{
    background-color: var(--primary);
    padding: 7px 11px;
    color: white;
    margin-left: 5px;
    border-radius: 5px;
}

.btn_edit{
    background-color: var(--primary);
    border: none;
    padding: 9px 13px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn_edit:hover{
    background-color: blue;
}


.member_adctions{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.member_status{
    display: flex;
    align-items: center;
    gap: 10px;
}

.status_ind{
    width: 15px;height: 15px; 
    border-radius: 50%;
}

@media screen and (max-width: 740px){
    .wema_grids{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 20px;
    }
    
}