.opportunites{
    background-color: var(--bg);
    width: 100vw;
    min-height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.oppo_head{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 50px;
    gap: 15px;
    /* background-color: var(--sec); */
    justify-content: center;
    
}

.opportunit{
    background-color: var(--bg);
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.oppo_head h1{
    font-size: 3rem;
    font-weight: 800;
    color: var(--primary);
}

.oppo_body{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.opp_body_inner{
    display: flex;
    align-items: center;
    gap: 25px;
}

.oppo_footer{
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
}

.opp_form{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 100px;
}

.opp_doc_body{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.opp_doc_body h3{
    font-size: 2rem;
    color: rgb(54, 54, 53);
    font-weight: 400;
    line-height: 1.2;
    text-align: justify;
}

.opp_reviews{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    min-height: 80vh;
}

.opp_reviews h2{
    font-size: 3rem;
}


@media screen and (max-width: 440px){
    .oppo_head{
        
        padding: 10px;
        gap: 15px;
      
        
    }

    .oppo_head h1{
        font-size: 2rem;
        font-weight: 700;
        color: var(--primary);
    }

    .opp_doc_body{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .opp_doc_body h3{
        font-size: 1.3rem;
        color: rgb(54, 54, 53);
        font-weight: 400;
        line-height: 1.1;
        text-align: justify;
    }

    .opp_form{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 10px;
    }
    
    .opp_doc_body{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}