.nikah{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

.nikah_donate{
    /* background-color: rgb(0,0,0); Fallback color */
    background-color: rgba(255,255,255, 0.4); /* Black w/opacity/see-through */
    /* color: white; */
    font-weight: bold;
    /* border: 3px solid var(--primary); */
    position: fixed;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* width: 50%; */
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: var(--shadow);
   
}



.support{
    display: flex;
    align-items: center;
    gap: 20;
    width: 100%;
    justify-content: center;
    margin: 10px ;
    font-size: 1rem;
}

.label{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
    
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 8px 13px;
}

.label:hover{
    background-color: var(--bg);
}

.btn_cont{
    padding: 11px 19px;
    background-color: var(--primary);
    font-size: 1.3rem;
    color: white;
    border: none;
    border-radius: 5px;
    
}



.nikah_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    justify-content: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    width: 90%;
    margin: 0 auto;
}

.nikah_search{
    width: 80%;
    margin: 10px auto;

}

.nikah_donated{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    justify-content: center;
   
    
}

.nikah_main_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    background-color: white;
    padding: 10px;
    /* font-size: 3.1rem !important; */
}

.nikah_card{
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    /* gap: 2px; */
}

.nikah_img{
    width: 100%;
    height: 200px;

}

.nikah_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nikah_imgs{
    display: flex;
    align-items: center;
    padding: 1vh;
    gap: 5px;
    justify-content: center;
}

.nikah_photo{
    width: 35px;
    height: 35px;
    aspect-ratio: 1;
    position: relative;
}

.nikah_photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.nikah_loc{
    display: flex;
    align-items: center;
    gap: 5px;
}

.nikah_detail{
    position: absolute;
    top: 35px;
    left: -100px;
    /* transform: translateY(-50%); */
    background-color: white;
    padding: 7px;
    display: flex;
    box-shadow: var(--shadow);
    flex-direction: column;
    width: 200px;
    z-index: 5;
}

.detail_top{
    display: flex;
    align-items: center;
    gap: 5px;
}

.nikah_image{
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
}


.nikah_image img{
    width: 100%;
    /* height: 100%; */
    border-radius: 50%;
}

.nikah_info{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    align-items: flex-start;
    height: 100%;
}

.nikah_info span{
    display: block;
}

.nikah_bottom{
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
    margin-top: 5px;
}

.nikahview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    /* border: 1px solid red; */
}



.nikah_View_top{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

.btn{
    width: 35px;
    height: 35px;
    display: flex;
    background-color: transparent;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: none;
     font-size: 1.1rem;
     color: var(--primary) !important;
     box-shadow: 
     
    inset 0 0 15px rgba(55, 84, 170,0),
    inset 0 0 20px rgba(255, 255, 255,0),
    7px 7px 15px rgba(55, 84, 170,.15),
    -7px -7px 20px rgba(255, 255, 255,1),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
}

.btn:hover{
    box-shadow: 
      inset 7px 7px 15px rgba(55, 84, 170,.15),
      inset -7px -7px 20px rgba(255, 255, 255,1),
      0px 0px 4px rgba(255, 255, 255,.2);
    cursor: pointer;
}

.nikah_view_bottom{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    /* box-shadow: var(--shadow); */
    gap: 15px;
    width: 50%;
    margin: 0 auto;
}

.nikah_view_dec{
    background-color: white;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    font-size: 1.2rem;
}

.nikah_pic{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nikah_view_left{
    /* width: 30vw; */
    min-height: 70vh;
    position: relative;
    background-color: white;
}

.nikah_view_action{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn_like{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgba(126, 118, 216, 0.662);
    border: none;
    border-radius: 50%;
    
}

.btn_like svg{
    transition: all 0.3s ease;
}

.btn_like svg:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.btn_chat{
    color: white;
    font-size: 1.5rem;
}

.nikah_view_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nikah_view_right{
    background-color: var(--primary);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: white;
    /* width: 50%; */
}

.nikah_right_item{
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    padding: 2px 15px;
    font-size: 0.9rem;
    /* border-top: 1px solid var(--sec); */
}

.nikah_right_item:nth-of-type(even){
    background-color: #2a95ff;
}



@media screen and (max-width: 940px){
    .nikah_donated{
        display: flex;
        flex-direction: column-reverse;
        padding: 15px;
        gap: 15px;
        justify-content: center;
        
    }

    .nikah_card{
        display: flex;
        flex-direction: column;
        box-shadow: var(--shadow);
        /* height: 400px; */
        /* gap: 2px; */
    }

    .nikah_img{
        width: 100%;
        height: 300px;
    
    }

    .nikah_info{
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        align-items: flex-start;
    }
    .nikah_search{
        width: 95%;
        margin: 10px auto;
    }

    .nikah_view_bottom{
        display: flex;
        flex-direction: column;
        width: 100%;
       
    }

    .nikah_view_right{
        /* background-color: var(--primary);
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        color: white; */
        width: 95%;
        margin: 0 auto;
    }

    .nikah_view_left{
        width: 100%;
        min-height: auto;
        position: relative;
    }
    
    
}

