.user_photo1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_picture{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_photo_edit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border: 1px solid red; */
}

.user_picture span{
    background-color: rgba(255,255,255,0.7);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.user_picture svg{
    font-size: 2rem;
}

.user_photo1{
    width: 300px;
    height: 350px;
    background-color: white;
}

.user_photo1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_wrapper{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.my_accounts{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    min-height: 80vh;
}

.my_acc_top{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    gap: 15px;
}

.acc_doc{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border: 1px solid var(--sec);
    padding: 40px;
    background-color: white;
    border-radius: 5px;
}

.acc_doc img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}