.reviews_container{
    /* background-color: #edf6ff; */
    padding: 3px;
    /* margin-top: 15px; */
    border-radius: 7px;
    width: 100%;
    /* border: 1px solid red; */
}
.reviews_wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 7px;
    background-color: white;
    /* height:47vh ; */
    overflow-y: scroll;
}

.reviews_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share_action_btns{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 0px;
}



.review_stars{
    display: flex;
    flex-direction: column;
}

.reviews_patients{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    margin: 15px 0;
}

.review_body_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_input{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #aaa;
    font-size: 1rem;
    height: auto;
    width: 100%;
}

.review_card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.review_photo{
    display: flex;
    align-items: center;
    gap: 7px;
}

.reviews_body span{
    font-size: 0.8rem;
    color: #aaa;
    margin: 5px 0;
}

.review_photo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.reviews_body{
    display: flex;
    flex-direction: column;
}

.btn_review{
     padding: 10px;
     font-size: 16px;
     border: none;
     font-weight: 700;
     color: #555;
     
}

.reviews_top h3{
    color: #0433b3;
    font-size: 1.3em;
}

.review_summary{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* padding: 0 20vw; */
    align-items: center;
}

.review_summary h1{
    color: rgb(230, 240, 81);
    font-size: 5.3rem;
}

.patient_reviews{
    padding-top: 10px;
    font-size: 1rem;
    border-top: 1px solid var(--sec);
    /* color: #aaa; */
}

.review_share{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 10px auto;
    width: 100%;
}

.btn_2{
    border: none;
    background-color: transparent;
    font-size: 1rem;
    margin-right: 5px;

}

.btn_1{
    border: none;
    background-color: var(--primary);
    border-radius: 25px;
    font-size: 1rem;
    padding: 5px 12px;
    color: white;
    
    
}


.comment_info{
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
}

.comment_info img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.hide_reviews{
    width: 100% !important;
    margin: 5px 0 !important;
}



@media screen and (max-width: 440px){
    .reviews_patients{
       margin: 15px auto;
    }

    .review_share{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        /* width: 90%; */
        margin: 0 auto;
    }

    .hide_reviews{
        width: 90% !important;
        margin: 5px auto !important;
        display: block;
    }

    .patient_reviews{
        width: 95%;
        margin: 15px auto;
        /* color: #aaa; */
    }

    .reviews_container{
        /* background-color: #edf6ff; */
        padding: 0;
        margin: 15px auto;
        border-radius: 7px;
        /* width: 80%; */
        /* border: 1px solid red; */
    }
}