.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    justify-content: space-between;
    
}


.home_wrapper{
    width: 95%;
    height: auto;
    display: flex;
    /* border: 1px solid red; */
    margin: 0 auto;
    gap: 50px;
    /* margin: 10px; */
}

.home_sidebar{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 2vh; */
    height: calc(100vh - 80px);
    position: sticky;
    top: 70px;
    
}


.home_body{
    display: flex;
    flex-direction: column;
    flex: 4;
    gap: 15px;
    /* border: 1px solid rgb(133, 96, 96); */
}

.no_sidebar{
    display: none;
}

.main_left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid black; */
    width: 100%;
    transition: width all 0.5s ease;
}





.main_right{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    /* padding: 10px; */
    width: 30%;
    height: calc(100vh - 80px);
    position: sticky;
    top: 70px;
}

.main_right_item{

    background-color: white;
    padding: 1vh 15px;
    border-radius: 10px;
    /* min-height: 15vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--shadow);
}

.btn_view{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #aaa;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.btn_view:hover{
    cursor: pointer;
    background-color: #f5f5f5;
}

.btn_next{
    background-color: transparent;
    border: none;
    color: white;
    display: block;
    text-align: right;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.donate{
    background-color: var(--primary);
    padding: 1vh 20px;
    border-radius: 5px;
    /* height: 200px; */
    display: flex;
    color: white;
    font-size: 1.1rem;
    justify-content: space-between;
    align-items: center;
}


.help{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.help_sender{
    width: 45px;
    height: 45px;
    aspect-ratio: 1;
}

.help_sender img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.help_text{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card_title{
    color: var(--sec);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 940px){
    .home_wrapper{
        width: 100%;
        height: auto;
        display: flex;
        /* flex-direction: column; */
        /* border: 1px solid red; */
        margin: 0 auto;
        gap: 0px;
        /* margin: 10px; */
    }

    .home_body{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 15px;
        /* border: 1px solid rgb(133, 96, 96); */
    }

    .home_sidebar{
        position:fixed;
        top: 70px;
        height: 70vh;
        background-color: var(--bg);
        width: 80%;
        z-index: 10;
        padding: 15px;
       /* display: none; */
   
    }

    .main_left{
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* border: 1px solid black; */
        width: 100%;
    }

    
.main_right{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 10px;
    width: 100%;
    /* height: calc(100vh - 80px); */
    position: sticky;
    top: 0px;
}

.main_right_item{

    background-color: white;
    padding: 1vh 15px;
    border-radius: 10px;
    /* min-height: 15vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--shadow);
    width: 85%;
    /* margin: 0 auto; */
}
.donate{
    background-color: var(--primary);
    padding: 1vh 20px;
    border-radius: 5px;
    /* height: 200px; */
    display: flex;
    color: white;
    font-size: 1.1rem;
    justify-content: space-between;
    align-items: center;
    /* width: 85%; */
    margin: 0 auto;
}



}



