.ProseMirror {
    padding: 10px;
    border-top: 1px solid grey;
    background-color: white;
    border-radius: 0 0 5px 5px;
    min-height: 55vh;
    overflow-y: scroll;
}

.menu_bar{
    display: flex;
    gap: 5px;
    padding: 3px;
}

.menu_bar button{
    font-size: 16px;
    outline: none;
    border: none;
    background-color: transparent;
    color: #616161;
    cursor: pointer;
    padding: 7px;
}

button.is-active{
    color: white;
    background-color: var(--primary);
    border-radius: 5px;
    
}
.text-editor{
   border-radius: 5px;
   border: 1px solid grey;
}
.ProseMirror > * + * {
      margin-top: 0.75em;
    }
  
    .ProseMirror ul,
    .ProseMirror ol {
      padding: 0 1rem;
    }
  
    .ProseMirror h1,
    .ProseMirror h2,
    .ProseMirror h3,
    .ProseMirror h4,
    .ProseMirror h5,
    .ProseMirror h6 {
      line-height: 1.1;
    }
  
    .ProseMirror code {
      background-color: #e4e4ff;
      color: #616161;
    }
  
    .ProseMirror pre {
      background: #0D0D0D;
      color: #FFF;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
    }
    .ProseMirror code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    
  
      .ProseMirror img {
      max-width: 100%;
      height: auto;
    }
  
    .ProseMirror blockquote {
      padding-left: 1rem;
      border-left: 2px solid #e4e4ff;
    }
  
    .ProseMirror hr {
      border: none;
      border-top: 2px solid #e4e4ff;
      margin: 2rem 0;
    }

    .user_nots{
      background-color: red;
      padding: 5px;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      border: 4px solid #c6c6ff;
      font-size: 13px;
    }

    .user_nots:hover{
      border: 4px solid white;
    }
  