.meeting_grids{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1vh;
}
.meeting_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vh;
    font-size: 0.8rem;
    background-color: var(--primary) ;
    color: white;
    border: 1px solid var(--primary);
    

}

.record{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

.meeting_top{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 95%;
    margin: 0 auto;
    font-size: 1.1rem;
}

.items_group_start{
    position: fixed;
    bottom: 50px;
    left: 50%;
}

.meetings_inner{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    /* background-color: white; */
}

.create_new{
    display: flex;  
    background-color: var(--primary);
    color: white;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    padding: 7px 12px;
}

.exist_meetings{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.current_meetings{
    width: 100%;
    padding: 20px;    
    display: grid;
    grid-template-columns: repeat(auto-fit, 340px);
   
    gap: 10px;
    
}



.top_meeting_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meet_part{
    color: #aaa;
    font-weight: 300;
    text-transform: uppercase;
}

.memb_photo{
    width: 35px;
    height: 35px;
    aspect-ratio: 1;
}

.meeting_teams{
    display: flex;
    gap: 7px;
}

.meet_peopl{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #aaa;
    margin-top: 5px;
    
}

.meet_peopl svg{
    color: #aaa;
}

.team_names{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 2px;
}

.memb_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.team_names_wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.meeting_status{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    width: 90%;
    margin: 0 auto;
}

.current_meeting_card{
    background-color: white;
    padding: 20px;
    display: flex;
    border-radius: 7px;
    height: fit-content;
    flex-direction: column;
    gap: 10px;
}

.btn_ask{
    padding: 8px 15px;
    background-color: var(--primary);
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 11px;
}

.btn_back1{
    padding: 8px 15px;
    border:1px solid var(--primary);
    font-size: 1rem;
    color: var(--primary);
    /* border: none; */
    border-radius: 11px;
    background-color: transparent;
}

.view_meeting{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg);
}

.view_meeting_top{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--primary); */
    color: var(--primary);
    font-size: 1rem;
    gap: 10px;
}


.leave_btn{
    padding: 9px 13px;
    border: none;
    background-color: red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: white;
    gap: 7px;
    font-size: 1.1rem;
}

.meeting_action svg{
    font-size: 1.5rem;
}

.view_meeting_inner{
    display: flex;

}

.View_meeting_left{
    width: 100%;
    display: flex;
    height: 80vh;
    flex-direction: column;
    transition: width 5s;
 
      
    gap: 10px;
}

.v_meeting_left_wrapper{   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

.view_meeting_details{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2px;
}

.btn_members{
    border-radius: 15px;
    /* border: 1px solid var(--primary); */
    color: var(--primary);
    padding: 8px 15px;
    display: flex;
    align-items: center;
    border: none;
    gap: 10px;
    font-size: 1.2rem;
    background-color: transparent;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.part_info{
    width: 65px;
    height: 65px;
    aspect-ratio: 1;
    position: relative;
}
.part_info img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.part_audio{
    position: absolute;
    right: -5px;
    bottom: -5px;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.2rem;

}

.add_meeting{
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title{
    margin: 15px 0;
    border-left: 10px solid var(--primary);
    padding-left: 5px;
    color: var(--primary);
    margin-left: 5px;
}

.btn_add{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 15px;
    gap: 15px;
    padding: 10px 17px;
    color: var(--primary);
    font-size: 1.1rem;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.span_rec{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: red;
}

.participants{
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    width: 100%;
    gap: 10px;
    justify-content: center;
    transition-property: width;
    transition-duration: 1s;
    /* border: 1px solid red; */
}

.meeting_title{
    font-size: 2rem;
}

.open{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20vw);
    width: 100%;
    gap: 10px;
    justify-content: center;
    transition-property: width;
    transition-duration: 1s;
    overflow-y: scroll;
}

.close_message{
    display: none;
}

.part_outer_wrapper{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.part_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* .part_info{
    width: 20vw;
    height: 150px;
    position: relative;
    
} */

/* .part_action{
    position: absolute;
    width: 95%;
    padding: 15px;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 5px;
    bottom: 5px;
    transform: translateY(-50%);
} */

.part_action h4{
    /* background-color: rgba(255,255,255,0.8); */
    font-size: 1rem;
    padding: 5px;
}
.part_info img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part_action button{
    border: none;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--primary);

}

.meetings_actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    padding: 10px 0;
    /* position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--bg);
    /* background-color: var(--bg); */
   
}

.room_name{
    text-transform: uppercase;
}

.mtngs_actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--primary);
    background-color: var(--bg);
}

.btn_btn{
    height: 40px;
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    background-color: var(--bg);
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    border: none;
    color: var(--primary);
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 3px 3px 5px rgba(0, 0, 0, 0.2);
    /* color: var(--sec); */
}

.btn_btn1{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    background-color: var(--bg);
    align-items: center;
    border-radius: 50%;
    font-size: 2rem !important;
    border: none;
    color: var(--primary);
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 3px 3px 5px rgba(0, 0, 0, 0.2);
    /* color: var(--sec); */
}



.btn_btn:hover{
  
    box-shadow: 
      inset 7px 7px 15px rgba(55, 84, 170,.15),
      inset -7px -7px 20px rgba(255, 255, 255,1),
      0px 0px 4px rgba(255, 255, 255,.2);
      cursor: pointer;
      color: black;
    /* color: var(--sec); */
}

.btn_call{
    height: 70px !important;
    width: 70px !important;
    font-size: 2rem !important;
    border: none;
    border-radius: 50%;
    color: white !important;
    background-color: red !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1) !important;
}

.btn_close{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
}


.view_meeting_right{
    background-color: white;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    transition: all 0.5s ease;
}

.arrow_bar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.message_sending{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: var(--primary);    
    width: 90%;
    margin: 10px auto;
}

.input_msg{
    width: 100%;
    padding: 4px;
    font-size: 1rem;
    border: none;
    outline: none;
}

.meet_members{
    position: relative;
}

.meet_member_lists{
    display: flex;
    position: absolute;
    left: 0;
    top: 40px;
    width: 250px;
    height: 400px;
    background-color: white;
    z-index: 5;
    box-shadow: var(--shadow);
    border-radius: 5px;
    overflow-y: scroll;
}

.meet_member_lists{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.member_card{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    
}

.member_card:hover{
    background-color: #f1f1f1;
}

.m_photo{
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
}

.m_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.chat_timer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}


.card_small_qty{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    font-size: 12px;
    color: white;
}

.member_action{
    position: relative;
}


.chat_member_action{
    position: absolute;
    background-color: white;
    padding: 15px;
    right: 0;
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.1rem;
    width: 200px;
    z-index: 15;
    box-shadow: var(--shadow);
    border-radius: 5px;
}


/* .v_m_r_top{
    border: 1px solid red;
} */






@media screen and (max-width: 740px){
    .v_meeting_left_wrapper{   
        display: flex;
        align-items: center;
        flex-direction: column;      
        padding: 20px;
    }

    .participants{
        overflow-y: scroll;
        /* border: 1px solid red; */
    }

    .current_meetings{
        width: 100%;
        padding: 20px;    
        display: flex;
        flex-direction: column;
       
        gap: 10px;
        
    }

    .add_meeting{
    
        width: 90%;
    
    }

    .meeting_top{
            display: flex;}

    .meeting_title{
        font-size: 1.2rem;
    }
        /* align-items: center;
        gap: 15px;
        margin-bottom: 10px;
        font-size: 1.1rem;
    } */
    

    /* .meetings_actions{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--bg);
        border-top: 1px solid var(--primary);
    } */
    
}