.activities{
    display: flex;
    min-height: calc(100vh - 150px);
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    /* padding: 20px; */
}

.act_heading{
    /* border: 1px solid red; */
    text-align: center;
}

.activity_res{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    flex-direction: column;
    gap: 15px;
    border-top: 1px solid var(--primary);
    width: 100%;
    margin-top: 10px;
}

.active_item{
    background-color: var(--primary);
    padding: 5px 10px;
    font-weight: 800;
    color: white;
    border-radius: 5px;
}

.likes_members{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap: 15px;
}

