.main_messages{
    display: flex;
    gap: 15px;
    min-width: 100vh;
    height: calc(100vh -150px) !important;
    
}

.messages_lists{
    flex: 1.5;
    background-color: white;
    /* height: 100%; */
    position: sticky;
    top: 60px;
    

}

.users_found{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--bg);
    margin-top: 5px;
    border-radius: 5px;
}

.search_user{
    padding: 10px;
}

.mes_chatlists{
    height: calc(100vh - 230px);
    padding-top: 25px;
    padding: 15px;
    overflow-y: scroll;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.btn_new_chat{
    position: absolute;
    right: 15px;
    bottom: 15px;
    border: none;
    background-color: var(--primary);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: var(--shadow);
}



.messages_body{
    flex: 4;
    background-color: #c7e3ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_room_body{
    flex: 4;
    background-color: #c7e3ff;
    flex-direction: column;
    display: flex;
   
}

.messages_body h3{
    color: var(--primary);
    font-weight: 400;
}



.chat_card{
    display: flex;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}

.user_found_info{
    display: flex;
    align-items: center;
    gap: 5px;
}

.found_user_img{
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
}

.found_user_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active_chat_card{
    display: flex;
    gap: 10px;
    background-color: var(--sec);
    padding: 10px;
}



.chat_body{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.chat_rec_photo{
    width: 45px;
    height: 45px;
    aspect-ratio: 1;
}

.chat_member_name{
    font-size: 1.2rem;
}

.chat_rec_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.message_title{
    height: 45px;
    padding-left: 15px;
    border-bottom: 2px solid var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatroom_head{
    display: flex;
    height: 60px;
    border-bottom: 3px solid var(--bg);
    background-color: var(--sec);
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    
}

.chat_head_left{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.chat_head_right{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 10px;
}

.chat_room_bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
}

.chat_new{
    /* width: 100%; */
    background-color: var(--sec);
    padding: 5px;
}

.chat_new{
    display: flex;
    align-items: center;
    gap: 7px;
}

.chat_input{
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 15px;
}

.chat_message{
    /* height: calc(100vh - 230px); */
    display: flex;
    flex-direction: column;
    flex: 2;
}

/* .desktop_chat{
    
} */

.chat_messages{
    /* background-color: white; */
    height: calc(100vh - 280px);
    margin-top: 5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 2;
    /* padding: 15px; */
}

.message_card{
    display: flex;
    gap: 10px;
    margin-left: 15px;
}

.message_body{
    background-color: white;
    padding: 15px;
    max-width: 700px;
   
}

.mes_body_time{
    font-size: 0.8rem;
    color: #c1c2c3;
    margin-top: 7px;
}



  .group_btns{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.form_container{
    /* width: 100%; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
    padding: 5px;
    min-height: 50px;
    bottom: 50px;
    width: 98%;
    position: relative;
    position: fixed;
    background-color: var(--sec);
    /* border: 1px solid red; */
}

.textarea {
    width: 100%;
    overflow: hidden;
    padding: 10px;
}


.form_inner_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 7px;
}

.attach_wrapper{
    position: absolute;
    bottom: 50px;
    width: 95%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
    background: white;
    border-radius: 11px;   
    padding: 20px;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1px solid #aaa;

}


.attach_items{
    display: flex;
    justify-content: space-between;
}

.attach_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.attach_btns{
    height: 50px;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #aaa;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.form_outer{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 7px;
    background-color: white;
    border-radius: 15px;
    
    
}

.btn_form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.btn_send_msg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    aspect-ratio: 1;
    border: none;
    font-size: 1.2rem;
    color: rgb(230, 246, 254);;
    /* width: 45px; */
}

.send_input{
    width: 100%;
    font-size: 1.1rem;
    border: none;
    outline: none;
    background-color: transparent;
}

.message_p{
    font-size: 1.1rem;
}

.right{
    background-color: var(--primary);
    border-radius: 10px 10px 0 10px;
}

.left{
    border-radius: 0 10px 10px 10px;
}

.received{    
    text-align: left;
    flex-direction: row;
}

.sent{    
    flex-direction: row-reverse;   
    text-align: right;
    /* background-color: #3266a8; */
    color: white;
    align-items: flex-end;
   
}

.right{
    align-items: flex-end;
}

.chat_wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chat_wrleft{
    display: flex;
    gap: 7px;
}

.chat_la_time{
    color: var(--primary);
    font-size: 0.9rem;
}

.chat_text{
    width: 18ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    margin-left: 3px;
}

.chat_admin{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 10px;
}

.video_container{
    height: calc(100vh - 200px);
    width: 100%;
    /* border: 1px solid red; */
}

.btn_end{
    width: 55px;
    height: 55px;
    background-color: red;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
}

#videos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    position: relative;
}

.call_action{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.video_1{
    background-color: black;
    width: 100%;
    height: calc(100vh - 200px);
    object-fit: cover;

}

.video_2{
    position: absolute;
    left: 15px;
    top: 15px;
    height: 150px;
    width: 20vw;
    background-color: white;
    object-fit: cover;
}


.call_request{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new_chat_app{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 25;
}

/* .pop_new_msg{

    width: auto;
    right: 40px;
    background-color: white;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
    justify-content: center;
    align-items: center;
    display: flex;
} */

.pop_new_chat{
    width: auto;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
    /* margin: 0 auto; */
    padding: 25px;
    border-radius: 5px;
    z-index: 50;
      
      
  } 
  
  .pop_new_chat span{
    font-size: 1.5rem;
   
}

.block_user{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sec);
    height: 50px;
}


.chats_wrapper{
    display: flex;
    width: 100%;
}

.desktop_class{
    flex: 1;
    max-width: 30vw;
}


.messages_wrapper{
    height: calc(100vh - 280px);
    padding: 10px;
    overflow-y: scroll;
}

.chat_head_left{
    border-bottom: 1px solid var(--sec);
    padding: 5px;
}

.chats_messages_wrapper{
    display: flex; 
    flex-direction: column;   
    gap: 10px;
}

.message_owner{
    display: flex;
    flex-direction: row-reverse;
    margin: 5px 0;
    gap: 10px;
}

.message_contents{
    display: flex;    
    gap: 10px;
}

.message_body{
    max-width: 80%;
}

.bg_blue{
    background-color: var(--primary) !important;
    color: white;
    border-radius: 10px 0 10px 10px ;
}

.bg_white{
    border-radius: 0 10px 10px 10px;
    margin-bottom: 5px;
}

.no_chats{
    display: flex;
    height: calc(100vh - 180px);
    justify-content: center;
    align-items: center;
    color: #aaa;
}



@media screen and (max-width: 940px){
    .messages_body{
      
        display: none;
    }
    .messages_lists{
        flex:none;
        /* background-color: var(--sec); */
        /* height: 100%; */
        position: static;
        width: 100%;
        /* top: 60px; */
        
    
    }

    /* .pop_new_msg{
        position: fixed;
        width: 100vw;
        height: 150vh;
        left: 0;
        top: 55%;
        background-color: rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
    }

    .pop_new_chat{
       
        background-color: white;
        height: fit-content;
        padding: 20px;
        border-radius: 3px;
        max-width: 280px !important;
        border-radius: 5px;
        left: 50%;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
        
        
    } */

    .main_messages{
        display: flex;
        gap: 15px;
        min-width: 300px;
        min-height: calc(100vh - 115px);
    }

    .view_chatlists{
        display: none;
    }

    .chat_messages{
        /* background-color: white; */
        height: calc(100vh - 280px);
        overflow-y: scroll;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 95%;
        margin: 0 auto;
        padding: 15px 0;
    }

    .chat_room_bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* min-height: 80vh; */
    }

    .chat_new{
        display: flex;
        align-items: center;
        gap: 7px;
        position: fixed;
        bottom: 0;
        /* left: 0; */
        width: 95%;
        margin: 0 auto;
    }

    .video_2{
        position: absolute;
        left: 15px;
        top: 15px;
        height: 100px;
        width: 20vw;

        background-color: white;
    }

    /* .mob_message_conatiner{
        display: none;
    } */

    /* .message_container{
        display: none;
        flex: 0;
    } */


    .no_chats{
        display: none;
    }

    .side_chats{
        width: 100vw;
        
    }

    .mob_message_conatiner{
        width: 100vw;
    }

    .side_bar_active{
        display: none;
    }

    .mob_chat_messgae{
        width: 100vw;
        height: calc(100vh - 210px);
        display: flex;
    }


    .messages_wrapper{
        height: calc(100vh - 260px);
        padding: 10px;
        overflow-y: scroll;
    }

    .mes_chatlists{
        height: calc(100vh - 210px);
        padding-top: 25px;
        padding: 15px;
        overflow-y: scroll;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    
       
}