.main_messages{
    display: flex;
    gap: 15px;
    min-width: 100vh;
    
}

.messages_lists{
    flex: 1.5;
    background-color: white;
    height: 100%;
    position: sticky;
    top: 60px;
    

}

.mes_chatlists{
    min-height: calc(100vh - 210px);
    padding-top: 25px;
    padding: 15px;
    background-color: white;
}

.messages_body{
    flex: 4;
    background-color: #c7e3ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_room_body{
    flex: 4;
    background-color: #c7e3ff;
    flex-direction: column;
    display: flex;
   
}

.messages_body h3{
    color: var(--primary);
    font-weight: 400;
}

.mes_chatlists{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat_card{
    display: flex;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}

.active_chat_card{
    display: flex;
    gap: 10px;
    background-color: var(--sec);
    padding: 10px;
}

.pop_new_msg{
    position: absolute;
    width: 270px;
    right: 40px;
    background-color: white;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    justify-content: center;
    align-items: center;
    display: flex;
}

.chat_body{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.chat_rec_photo{
    width: 45px;
    height: 45px;
    aspect-ratio: 1;
}

.chat_member_name{
    font-size: 1.2rem;
}

.chat_rec_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.message_title{
    height: 45px;
    padding-left: 15px;
    border-bottom: 2px solid var(--bg);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.chatroom_head{
    display: flex;
    height: 60px;
    border-bottom: 3px solid var(--bg);
    background-color: var(--sec);
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    
}

.chat_head_left{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.chat_head_right{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 10px;
}

.chat_room_bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.chat_new{
    /* width: 100%; */
    background-color: var(--sec);
    padding: 5px;
}

.chat_new{
    display: flex;
    align-items: center;
    gap: 7px;
}

.chat_input{
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 15px;
}

.chat_messages{
    /* background-color: white; */
    height: 75vh;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* padding: 15px; */
}

.message_card{
    display: flex;
    gap: 10px;
    margin-left: 15px;
}

.message_body{
    background-color: white;
    padding: 15px;
    max-width: 700px;
    border-radius: 7px;
}

.mes_body_time{
    font-size: 0.8rem;
    /* color: #aaa; */
    margin-top: 7px;
}

.pop_new_chat{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
      
  }
  
  .pop_new_chat span{
      font-size: 1rem;
     
  }

  .group_btns{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.form_container{
    /* width: 100%; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
    padding: 5px;
    min-height: 50px;
    position: relative;
    background-color: var(--sec);
    /* border: 1px solid red; */
}

.form_inner_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 7px;
}

.attach_wrapper{
    position: absolute;
    bottom: 50px;
    width: 95%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
    background: white;
    border-radius: 11px;   
    padding: 20px;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1px solid #aaa;

}


.attach_items{
    display: flex;
    justify-content: space-between;
}

.attach_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.attach_btns{
    height: 50px;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #aaa;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.form_outer{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 7px;
    background-color: white;
    border-radius: 15px;
    
    
}

.btn_form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.btn_send_msg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    aspect-ratio: 1;
    border: none;
    font-size: 1.2rem;
    color: rgb(230, 246, 254);;
    /* width: 45px; */
}

.send_input{
    width: 100%;
    font-size: 1.1rem;
    border: none;
    outline: none;
}

.message_p{
    font-size: 1.1rem;
}

.right{
    background-color: var(--primary);
}

.received{    
    text-align: left;
    flex-direction: row;
}

.sent{    
    flex-direction: row-reverse;   
    text-align: right;
    /* background-color: #3266a8; */
    color: white;
    align-items: flex-end;
   
}

.right{
    align-items: flex-end;
}

.chat_wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chat_wrleft{
    display: flex;
    gap: 7px;
}

.chat_la_time{
    color: var(--primary);
    font-size: 0.9rem;
}

.chat_text{
    width: 18ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    margin-left: 3px;
}


@media screen and (max-width: 940px){
    .messages_body{
      
        display: none;
    }
    .messages_lists{
        flex:none;
        /* background-color: var(--sec); */
        /* height: 100%; */
        position: static;
        width: 100%;
        /* top: 60px; */
        
    
    }

    .pop_new_msg{
        position: fixed;
        width: 100vw;
        height: 150vh;
        left: 0;
        top: 55%;
        background-color: rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
    }

    .pop_new_chat{
       
        background-color: white;
        height: fit-content;
        padding: 20px;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
        
        
    }

    .main_messages{
        display: flex;
        gap: 15px;
        min-width: 300px;
        
    }

    .view_chatlists{
        display: none;
    }

    .chat_messages{
        /* background-color: white; */
        height: calc(100vh - 280px);
        overflow-y: scroll;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 95%;
        margin: 0 auto;
        padding: 15px 0;
    }

    .chat_room_bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* min-height: 80vh; */
    }

    .chat_new{
        display: flex;
        align-items: center;
        gap: 7px;
        position: fixed;
        bottom: 0;
        /* left: 0; */
        width: 95%;
        margin: 0 auto;
    }
    
    
       
}