
.main_ques{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.que_card{
    display: flex;
    gap: 15px;
    padding: 40px;
    border-bottom: 3px solid var(--bg);
    
}

.share_answer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.que_body{
    width: 100%;
}

.answered_guy{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 3px;
}

.main_ques_inner{
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    gap: 10px;
    width: 100%;
}

.que_author{
    width: 45px;
    height: 45px;
    aspect-ratio: 1;
}

.que_author img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
    border: 3px solid var(--primary);
}

.que_cations{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--bg);
    margin-top: 10px;
    border-radius: 5px;
}

.ques_act_left{
    display: flex;
    gap: 10px;
}

.que_answers{
    padding: 5px 10px;
    background-color: white;
    border: 1px solid var(--sec);
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.main_ques_top{
    height: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 15px;
    /* width: 100%; */
    /* padding: 0 15px; */
    justify-content: space-between;
    /* padding-left: 20px; */
    background-color: white;
}

.main_ques_top h3{
    padding-left: 15px;
}

.qu_btn{
    display: flex;
    /* border: 1px solid red; */
    width: 200px;
}

.main_ques_top span{
    margin: 0 20px;
}

.btn_que{
    background-color: var(--primary);
    padding: 10px 20px;
    width: 90%;
    text-align: center;
    border: none;
    color: white;
    font: 1.2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}

.recent_activies_wrapper{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    padding: 20px;
}

.recent_activities{
    background-color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    /* padding: 20px; */
}

.que_title{
    margin: 10px 0;
}


.activity_photo{
    width: 25px;
    height: 25px;
    aspect-ratio: 1;
}

.activity_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.p{
    margin: 7px 0;
}

.aue_date_userinfo{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.que_date_status{
    display: flex;
    align-items: center;
    gap: 5px;
}

.que_counts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activies_body{
    display: flex;
    flex-direction: column-reverse;
    gap: 25px;
}

.answer_text{
    font-size: 1.3rem;
    text-align: justify;
    margin: 15px 0;
}

.activity_card{
    display: flex;
    gap: 10px;
    padding: 5px;
    
}

.activity_card:hover{
    background-color: aliceblue;
    color: black;
}

.activies_inner_body{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.view_que_author{
    display: flex;
    align-items: center;
    gap: 7px;

}

.view_que_photo{
    width: 25px;
    height: 25px;
    aspect-ratio: 1;
}

.view_que_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.view_que_top{
    margin: 20px 0;
    font-size: 2rem;
    line-height: 1;
    display: block;
    padding: 20px 0;
}

.view_que_answers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid white;
}
.view_answers_grid{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.que_grid_anwers{
    margin-top: 15px;
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
  
}



.answerd_photo{
    width: 35px;
    height: 35px;
    aspect-ratio: 1;
}

.answerd_photo img{
    width: 100%;height: 100%;
    border-radius: 3px;
    object-fit: cover;
}

.answered_small{
    color: #aaa;
    margin-top: 10px;
    display: block;
}

.view_que_create{
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    
}

.btn_back{
    display: flex;
    align-items: center;
    grid-template-columns: 15px;
    background-color: transparent;
    border: none;
    gap: 15px;
    font-size: 1rem;
}


.create_que{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.show_mobile{
    display: none;
}

.main_que_top{
    display: flex;
    align-items: center;
    /* gap: 7px; */
    padding-left: 10px;
}

.view_que_back{
    display: flex;
    align-items: center;
    gap: 15px;
}

.q_date{
    color: var(--primary);
}

.last_time{
    color: var(--primary);
}

.showroom{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.share_answer_photo{
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
}

.share_answer_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}



@media screen and (max-width: 940px){
    .que_card{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        border-bottom: 3px solid var(--bg);
    }

    .showroom{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px;
    }

    .que_date_status{
        flex-direction: column;
        align-items: flex-start;
    }

    .view_que_top{
        margin: 10px auto;
        font-size: 1.5rem;
        line-height: 1;
        display: block;
        text-align: justify;
        width: 95%;
    }

    /* .aue_date_userinfo{
        flex-direction: column;
    } */

    .view_que_author{
        display: flex;
        align-items: center;
        gap: 7px;
        width: 95%;
        margin: 0 auto;
    
    }

    .view_que_answers{
        display: flex;
        flex-direction: column;
        gap: 2px;
        /* margin-top: 20px; */
        padding-top: 20px;
        border-top: 1px solid white;
        width: 95%;
        margin: 0 auto;
    }

    .view_answers_grid{
       
        gap: 1px;
    }

    .que_grid_anwers{
        margin-top: 10px;
        flex-direction: column;
        display: flex;
        gap: 10px;
        background-color: white;
        padding: 15px;
        border-radius: 3px;
      
    }
    

    .view_que_create{
        margin: 15px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        gap: 20px;
        
    }

    .hide_mobile{
        display: none;
    }

    .show_mobile{
        display: flex;
    }

    .view_que_author{
       
        flex-direction: column;
        
        gap: 7px;
    
    }

    .main_ques_top{
        height: auto;        
        /* padding-left: 20px; */
        background-color: white;}
    
}

/* .que_cat{
    width: 100%;
} */