.footer_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--primary);
    margin-top: 10px;
    color: var(--bg);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.m_f_items span:hover{
    cursor: pointer;
    text-decoration: underline;
}


@media screen and (max-width: 440px){
   

    .footer_wrapper{
        font-size: 0.8rem;
        justify-content: center;
    }

    .footer_inner{
        
        justify-content: space-between;
        width: 95%;
      
    }
}