.footer_wrapper{
    display: flex;
    justify-content: space-between;
    /* padding: 15px; */
    background-color: var(--primary);
    margin-top: 10px;
    color: var(--bg);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
}

.m_f_items span:hover{
    cursor: pointer;
    text-decoration: underline;
}


@media screen and (max-width: 440px){
   

    .footer_wrapper{
        font-size: 1rem;
        justify-content: center;
        color: var(--sec);
    }

    .footer_inner{
        
        justify-content: center;
        /* width: 95%; */
      
    }
}