.footer_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--sec);
    margin-top: 10px;
}


/* @media screen and (max-width: 440px){
   

    .m_f_items span{
        margin: 5px;
    }
} */