.search{
    display: flex;
    align-items: center;
    background: white;
    padding: 3px;
    border-radius: 25px;
    height: 25px;
}

.input_search{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.9rem;
    /* color: white; */
    padding: 5px;
    width: 100%;
    
}

.time_remaining{
    color: var(--primary);
}

.btn_search{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
}


/*--------------------------*/

/* .container {
    text-align: center;
    color: #2c3e50;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */
  
  form {
    transition: all 0.5s;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
  }
  .finder {
    border: 1px solid #fff;
    background-color: var(--bg);
    border-radius: 15px;
    padding: 8px;
    box-shadow: 
      inset 7px 7px 15px rgba(55, 84, 170,.15),
      inset -7px -7px 20px rgba(255, 255, 255,1),
      0px 0px 4px rgba(255, 255, 255,.2);
  }
  
  /* .finder__outer {
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: inset 10px 10px 15px -10px #c3c3c3,
      inset -10px -10px 15px -10px #ffffff;
  }
   */
  .finder__inner {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
  }
  
  .finder__form {
    flex: 1;
    height: 30px;
  }
  
  .finder__input {
    height: 30px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    letter-spacing: 0.75px;
  }
  
  .finder__icon {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    transition: all 0.2s;
    box-shadow: inset 0 0 0 20px #292929;
    border-radius: 50%;
    position: relative;}
  
    .finder__icon:after,
    .finder__icon:before {
      display: block;
      content: "";
      position: absolute;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .finder__icon:after {
      width: 7px;
      height: 7px;
      background-color: #292929;
      border: 3px solid #f6f5f0;
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
      left: 0px;
      right: 0;
      margin: auto;
      border-radius: 50%;
  
    
    }

    .finder__input .active {
        border-width: 10px;
        background-color: #f6f5f0;
      }
  
    .finder__icon:before {
      width: 2px;
      height: 8px;
      background-color: #f6f5f0;
      top: 50%;
      left: 20px;
      transform: rotateZ(45deg) translate(-50%, 0);
      transform-origin: 0 0;
      border-radius: 4px;}
  
      .finder__input .active  {
        background-color: #292929;
        width: 6px;
        transform: rotateZ(45deg) translate(-50%, 25px);
      }
    
  
      .finder__input .processing  {
      transform-origin: 50%;
      animation: spinner 0.3s linear infinite;
      animation-delay: 0.5s;
    }
  
    .finder__input .active  {
      transform: translateY(-5px);
    
  }
  
  @keyframes spinner {
    0% {
      transform: rotateZ(45deg);
    }
    100% {
      transform: rotateZ(405deg);
    }
  }