.mada_remarks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    gap: 20px;
    /* color: #aaa; */
    margin: 0 auto;
    padding: 10px 0;
    /* border: 1px solid red; */
}

.comments{
    display: flex;
    gap: 5px;
    padding: 5px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgb(224, 224, 224);
}

.length{
    height: 25px;
    width: 25px;
    background-color: var(--sec);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.likes{
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-top: 10px; */
    /* border: 1px solid red; */
}

.liks_m{
    width: 25px;
    height: 25px;
}

.liks_m img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.likes_t{
    display: flex;
    align-items: center;
    gap: 2px;
}

.btn_likes{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(235, 235, 235);
    border: none;
    padding: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_likes:hover{
    background-color: var(--sec);
    cursor: pointer;
}

.likes svg{
    font-size: 1rem;
}

.timeago{
    font-size: 0.9rem;
    font-weight: 200;
    color: black !important;
}