.prayer_container{
    background-color: white;
    height: fit-content;
    border-radius: 5px;
    padding: 5px;
    box-shadow: var(--shadow);
   
}
.prayer{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border: 7px solid var(--primary);
    background-color: var(--sec);
    padding: 7px;
}

.prayer_top{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
}

.btn{
    color: black;
}

/* .prayer_top h5{
    padding: 2px 7px;
    background-color: white;
    border-radius: 3px;
} */

.prayer_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.prayer_grids{
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 2px;
    margin-top: 1px;
}

.prayer_time{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;
    font-size: 0.9rem;
    gap: 15px;
    padding: 7px;
    color: #888;
   
}

.current_time{
    background-color: var(--primary);
    color: white;
    box-shadow: var(--shadow);
    border-radius: 3px;
}

.time_remaining{
    /* font-weight: 300; */
    font-size: 1.2rem;
    margin: 5px;
    color: black;
}

.current{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    color: black;
    flex-direction: column;
}

.next{
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media screen and (max-width: 740px){
    .prayer{
        display: none;
    }
}